
.wp-block-contact-form-cs-contact-form {
	
}

.addFieldButton {
    border: 2px solid #007cba;
    margin: 5px;
}
.mailBodyField {
    border: 1px solid black;
    display: block;
}
.modal-wrapper {
    // padding: 50px;
    // background-color: "whitesmoke";
    // position: "absolute";
    // // top: "50%",
    // // left: "50%",
    // // transform: "translate(-50%, -50%)",
    // // maxWidth: "500px",
    // // width: "100%",
    // // zIndex: "999",

}

// .modal {
//     width: 100vw;
//     background: black;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
// }